<template>
  <div v-bind:class="{'actions-wrapper': step <= 2, 'actions-wrapper bottom': step >= 3}">
    <b-button v-if="step !== 1 && step !== 2 && step !== 4 && step !== 5 && step !== 6" variant="secondary" v-on:click="incrementStep">{{ $t(welcomeTranslateKey + ".buttonText") }}</b-button>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'actions',
    computed: mapGetters(['step', 'welcomeTranslateKey']),
    methods: mapActions(['incrementStep'])
  }
</script>

<style scoped lang="sass">
  .actions-wrapper
    text-align: center
    position: fixed
    width: 100%
    left: 0
    bottom: 140px
    &.bottom
      bottom: 50px
</style>
