<template>
  <div class="connected-checkmark">
    <img src="../images/icons/checkmark-success.png">
    <p>{{ $t(welcomeTranslateKey + '.verifyingSucceedText') }}</p>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'connected-checkmark',
    computed: mapGetters(['step', 'welcomeTranslateKey'])
  }
</script>

<style scoped lang="sass">
  .connected-checkmark
    img
      width: 200px
      margin-bottom: 30px
    p
      font-family: "Muli"
      font-size: 24px
      font-weight: 300
      text-align: center
      color: #1c1c1c
</style>
