<template>
  <div v-bind:class="{'logo-wrapper': step <= 2, 'logo-wrapper small-padding': step >= 3}">
    <img src="./../images/campaign-step-4.svg" alt="Orca" v-if="step == 4" />
    <img src="./../images/campaign-step-5.svg" alt="Orca" v-if="step == 5" />
    <img src="./../images/campaign-step-6.svg" alt="Orca" v-if="step == 6" />
    <h4 class="title">{{ $t( welcomeTranslateKey + '.title') }}</h4>
    <h6 class="sub-title">{{ $t( welcomeTranslateKey + '.subTitle') }}</h6>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  export default {
    name: 'logo',
    computed: mapGetters(['step', 'welcomeTranslateKey'])
  }
</script>

<style scoped lang="sass">
  .logo-wrapper
    text-align: center
    padding-top: 80px
    &.small-padding
      padding-top: 30px
    img
      margin-bottom: 30px
    h4.title
      font-family: "Varela Round"
      font-size: 48px
      letter-spacing: 4px
      color: #1c1c1c
      margin-bottom: 25px
      margin-top: 10px
    h6.sub-title
      font-family: "Muli"
      font-size: 24px
      letter-spacing: 1px
      color: #a6adb1
</style>
