<template>
  <div class="logo-wrapper">
    <img src="./../images/logo.svg" alt="Orca" />
    <h4 class="title">{{ $t( message ) }}</h4>
  </div>
</template>

<script>
  export default {
    name: 'logo-header',
    props: ['message']
  }
</script>

<style scoped lang="sass">
  .logo-wrapper
    text-align: center
    padding-top: 80px
    img
      margin-bottom: 30px
    h4.title
      font-family: "Varela Round"
      font-size: 48px
      letter-spacing: 4px
      color: #1c1c1c
      margin-bottom: 25px
      margin-top: 10px
</style>
