<template>
  <div class="pro-tip-box">
    <h6 class="text-left">{{ $t(welcomeTranslateKey + ".proTipTitle") }}</h6>
    <p>{{ $t(welcomeTranslateKey + ".proTipText") }} <span v-pre>{{first_name}}</span></p>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'pro-tip',
    computed: mapGetters(['welcomeTranslateKey'])
  }
</script>

<style lang="sass" scoped>
  .pro-tip-box
    h6
      font-family: "Muli"
      font-size: 14px
      color: #202020 !important
      font-weight: 900
      line-height: 2.14
      letter-spacing: 1.2px
      margin-bottom: 10px
      margin-top: 15px
    p
      font-family: "Muli"
      font-size: 14px
      text-align: left
      color: #202020 !important
      font-weight: 300
      line-height: 1.43
      letter-spacing: 1.2px
    span
      font-weight: bold

</style>
