<template>
  <div class="verifying-overlay" v-on:click.stop.prevent=""></div>
</template>

<script>
  export default {
    name: 'verifying-overlay'
  }
</script>
<style scoped lang="sass">
  .verifying-overlay
    z-index: 3
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(255, 255, 255, 0.8)
</style>
