<template>
  <center style="
    background: #FFF;
    box-shadow: 0 0 5px 0 #D2DEE0;
    height: 50px; text-align: left
    ">
    <img src="./images/logo.svg" alt="Orca"
      style="height: 26px; width: 65px; margin-top:11px; margin-bottom: 12px; margin-left: 17px; margin-right: 18px"/>
      <div class="last-log" style="
        text-align: left;
        padding: 10px;
        display: inline-block;
        height: 32px;
        margin-top: 9px;
        width: 290px;
        border-radius: 5px;
        background-color: #F3F6F7;
        color: #2F3A3E;
        font-size: 12px;
        font-weight: 500;
        margin-bottom: -13px;
      ">&nbsp;</div>

       <button style="border:0; padding:8px; margin:0 0 0 4px; background: transparent;" onClick="
        var popup = document.querySelector('.popup')
        if (popup) {
          if (popup.style.display === 'block') {
            popup.style.display = 'none'
          } else {
            popup.style.display = 'block'
          }
        }
        ">
        <img src="./images/cog.svg" alt="Orca"
          style="
            height: 17px;
            width: 17px;
            margin-top: -4px;
            background-size: contain;
            margin-left: -2px;
          "/>
      </button>

      <div class="popup" style="
        position: fixed;
        display: none;
        right: 5px;
        top: 40px;
        width: 160px;
        padding: 12px 0;
        border: 1px solid rgba(210,222,224,0.5);
        border-radius: 5px;
        background-color: #FFFFFF;
        box-shadow: 0 5px 15px 0 rgba(152,170,173,0.2), 0 1px 1px 0 #D2DEE0;
      ">       
      <button 
      style="
        height: 26px;
        border: 0;
        background: transparent;
        cursor: pointer;
        width: 100%;
        color: #2F3A3E;
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
        padding: 0 0 0 20px;
        "
    @click="open_dashboard"
    >
      Go to dashboard
      </button>
    <hr style="margin: 8px 20px" />
      <button 
      style="
        height: 26px;
        border: 0;
        background: transparent;
        cursor: pointer;
        width: 100%;
        color: #2F3A3E;
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
        padding: 0 0 0 20px;
      "
      onclick="javascript:localStorage.clear();location.reload()">Logout</button>
      <button 
      style="
        height: 26px;
        border: 0;
        background: transparent;
        cursor: pointer;
        width: 100%;
        color: #2F3A3E;
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
        padding: 0 0 0 20px;
      "
       @click="close">
      Close app
      </button>
      </div>
      
  </center>
</template>

<script>
  import { db } from '../firebase'
  // import DashLeftPanel from './panels/DashLeftPanel'
  // import DashRightPanel from './panels/DashRightPanel'
  import { getFromStorage } from '../utils'
  const remote = require('electron').remote

  const shell = require('electron').shell

  export default {
    methods: {
      close () {
        this.w.close()
      },
      open_dashboard () {
        shell.openExternal('https://test-371f7.firebaseapp.com/')
      }
    },
    data () {
      return {
        w: remote.getCurrentWindow()
      }
    },
    components: {
    //  DashLeftPanel,
    //  DashRightPanel
    },
    name: 'dashboard',
    created () {
      let user = getFromStorage('user')
      if (db) {
        this.$store.dispatch(
          'setUserCampaignsRef',
          db.ref('users/' + user.uid + '/campaigns'))
          .then(() => {
            if (this.$route.query.create) {
              this.$store.dispatch('createCampaignFromState').then(() => {
                this.$store.dispatch('resetNewCampaign').then(() => {
                  if (this.$route.query.start) {
                    this.$store.dispatch('startLastCampaign').then(() => {
                      this.$router.push({ name: 'dashboard', params: { uid: user.uid } })
                    })
                  } else {
                    this.$router.push({ name: 'dashboard', params: { uid: user.uid } })
                  }
                })
              })
            }
          })
      }
    }
  }
</script>

<style lang="sass" scoped>
  .dash-left-panel, .dash-right-panel
    height: 100vh
  .dash-left-panel
    background-color: #242424
    max-width: 280px
    padding-right: 0
  .dash-right-panel
    margin: auto
</style>
