<template>
  <div>
    <h1>Login</h1>
    <h3 v-if="error">{{ error }}</h3>
    <h3 v-if="authenticated">{{ authenticated.email }}</h3>
    <button 
      v-if="authenticated"
      v-on:click="logOutUser"
      class="g-signin-button">
      Log Out
    </button>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    components: {
    },
    name: 'login',
    computed: {
      ...mapGetters([
        'googleSignInParams',
        'authenticated',
        'error'
      ])
    },
    methods: {
      ...mapActions([
        'logOutUser'
      ])
    }
  }
</script>

<style scoped>
  .g-signin-button {
    display: inline-block;
    padding: 10px 20px 6px 20px;
    border-radius: 3px;
    background-color: #3c82f7;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 3px 0 #0f69ff;
  }
</style>
