<template>
  <div class="update">
    <logo-header message="update.title"></logo-header>
    <div class="spiner-wrapper">
      <spiner></spiner>
    </div>
  </div>
</template>

<script>
  import LogoHeader from './shared/LogoHeader'
  import Spiner from './shared/Spiner'

  export default {
    components: {
      LogoHeader,
      Spiner
    },
    name: 'update'
  }
</script>

<style lang="sass">
  .update
    width: 100%
    max-width: 1100px
    height: 100vh
    margin: auto

  .spiner-wrapper
    display: block
    width: auto
    margin: 10vh auto
    text-align: center
</style>
