<template>
  <div>
    <step-zero class="step-0" v-if="step === 0"></step-zero>
    <step-one class="step-1" v-if="step === 1"></step-one>
    <step-two class="step-2" v-if="step === 2"></step-two>
    <step-three class="step-3" v-if="step === 3"></step-three>
    <step-four class="step-4" v-if="step === 4"></step-four>
    <step-five class="step-5" v-if="step === 5"></step-five>
    <step-six class="step-6" v-if="step === 6"></step-six>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  import Logo from './shared/Logo'
  import Actions from './shared/Actions'
  import StepZero from './steps/StepZero'
  import StepOne from './steps/StepOne'
  import StepTwo from './steps/StepTwo'
  import StepThree from './steps/StepThree'
  import StepFour from './steps/StepFour'
  import StepFive from './steps/StepFive'
  import StepSix from './steps/StepSix'

  export default {
    components: {
      Logo,
      Actions,
      StepZero,
      StepOne,
      StepTwo,
      StepThree,
      StepFour,
      StepFive,
      StepSix
    },
    name: 'welcome',
    computed: mapGetters([
      'step'
    ])
  }
</script>

<style lang="sass">
  .steps
    max-width: 1100px
    height: 100vh
    margin: auto
    .step-wrapper
      width: 100%
      margin: auto
      margin-top: 5%
      margin-bottom: 5%
      text-align: center
      &.step-3
        margin-top: 7%
        margin-bottom: 7%

    .input-group
      position: relative

      textarea, input, textarea::-webkit-input-placeholder, input::-webkit-input-placeholder
        font-family: "Muli"
        color: #aaaaaa
        font-size: 24px
        line-height: 1.6

      textarea
        height: 250px
        max-height: 250px
        min-height: 250px
        border-radius: 5px
        border: solid 1px #b6b6b6
        outline: none
        overflow: hidden
        overflow-y: scroll
        font-family: Muli
        color: #aaaaaa
        padding: 20px
        &:hover, &:focus, &:active
          border: solid 1px #b6b6b6
          outline: none

        &.form-control-warning
          border: 2px solid red
        &.form-control-success
          border: 2px solid #2ecc71

    textarea.email-body
      padding: 10px
      height: 250px
      max-height: 250px
      min-height: 250px
    
    input
      width: 100%
      border-radius: 100px
      border: solid 1px #b6b6b6
      outline: none
      padding: 18px 28px
      
      &:focus
        outline: none
        border: solid 1px #b6b6b6

    input.email-subject
      border: none
      border-radius: 0
      border-bottom: 1px solid #b6b6b6
      padding: 0
      height: 30px

    span.characters-count
      position: absolute
      bottom: 10px
      right: 30px
      z-index: 10
      font-family: "Muli"
      font-size: 12px
      font-weight: 900
      line-height: 2.14
      letter-spacing: 1.2px
      color: #aaaaaa
    
    .input-group.email-subject-group
      margin-bottom: 20px
    
    .input-group.email-body-group
      margin-top: 10px

    p.verifying
      font-family: "Muli"
      font-size: 20px
      line-height: 1.25
      letter-spacing: 2px
      text-align: center
      color: #202020

</style>
