<template>
  <div id="#app" class="container-fluid">
    <router-view></router-view>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import 'bootstrap/dist/css/bootstrap.css'
  import 'bootstrap-vue/dist/bootstrap-vue.css'

  export default {
    computed: {
      ...mapGetters([
        'authenticated',
        'dashboardLink'
      ])
    }
  }
</script>

<style lang="sass">
  @import url(https://fonts.googleapis.com/css?family=Muli:300,400,700,900|Varela+Round|Lato)

  body, html
    margin: 0
    padding: 0
    font-family: 'Varela Round', sans-serif
    overflow: hidden
    background-color: #F3F6F7
    
  p.error
    color: #f44336

  .left
    float: left
  .right
    float: right
  .clear
    clear: both

  .container-fluid
    padding: 0
    height: 100vh
    width: 100vw
    overflow: hidden
  .btn
    cursor: pointer
    outline: none
  .btn-
    margin-top: 50px
    margin-bottom: 10px
    width: 450px
    border-radius: 100px
    background-color: #252525
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5)
    border: solid 1px #202020
    font-size: 24px

  .btn-secondary-
    padding-left: 40px
    padding-right: 40px
    background-color: #252525
    border-radius: 100px
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5)
    border: solid 1px #202020
    color: white
    font-family: "Varela Round", sans-serif
    font-size: 18px
    font-weight: normal
    line-height: normal
    letter-spacing: 5px
    text-align: center
    cursor: pointer
    &.disabled
      background-color: #252525
    &:hover, &:focus, &:active
      box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5)
      border: solid 1px #202020
      outline: none
      color: white
      background-color: #252525
  .skip-start-later
    margin-top: 15px

    a
      color: #202020 !important
      text-decoration: underline
      font-family: Muli
      font-size: 18px
      font-weight: 300
      letter-spacing: 1.5px

</style>
