<template>
  <div class="dash-left-panel">
    <div class="logo-wrapper">
      <img src="./../images/orca-beta-logo.png" alt="Orca" />
    </div>
    <div class="links">
      <ul>
        <li>
          <img src="./../images/icons/campaign-icon.png" alt="Campaigns" />
          Campaigns
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'dash-left-panel'
  }
</script>

<style lang="sass" scoped>
  .logo-wrapper
    width: 100%
    padding: 20px
    background-color: #202020
    img
      width: 100%
  .links
    color: #ffffff
    padding: 30px 0
    font-size: 18px
    font-weight: 500
    letter-spacing: 1.5px
    ul
      list-style: none
      li
        cursor: pointer
        img
          width: 30px
          margin-right: 10px
</style>
