<template>
  <div class="dash-right-panel">
    <div class="campaigns-table">
    <b style="display:block; margin-bottom: 20px;">This app must stay open in order for your campaigns to run</b>
    <table class="table">
      <thead>
        <tr>
          <th style="width: 36px"></th>
          <th>Campaign name</th>
          <th>Prospects</th>
          <th>Profile Views</th>
          <th>Connections Requested</th>
          <th>Connections Accepted</th>
          <th v-on:click="googleSignIn({noanim:true})">Emails sent</th>
          <th>Created</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="campaign of campaigns">
          <td>
            <img
              v-if="campaign.state === 'completed'"
              src="./../images/radio-icon-completed.svg"
              class="action-img" />
            <img
              v-if="campaign.state === 'running'"
              src="./../images/radio-icon-pause.png"
              class="action-img"
              v-on:click="pauseCampaign(campaign['.key'])" />
            <img
              v-if="campaign.state === 'paused'"
              src="./../images/radio-icon-play.png"
              v-bind:class="{'action-img disabled': hasCampaignRunning, 'action-img': !hasCampaignRunning }"
              v-on:click="startCampaign(campaign['.key'])" />
          </td>
          <td>{{campaign.accountName && campaign.accountName.toUpperCase()}}</td>
          <td>{{campaign.prospects}}</td>
          <td>{{campaign.visitedCount}}</td>
          <td>{{campaign.connectCount}}</td>
          <td>{{campaign.connectedCount}}</td>
          <td>{{campaign.emailSentCount}}</td>
          <td>{{friendlyDate(campaign.createdAt)}}</td>
          <td>
            <span :class="[campaign.state]"></span>
            {{campaign.state && campaign.state.charAt(0).toUpperCase() + campaign.state.slice(1)}}
          </td>
        </tr>
      </tbody>

    </table>

      <!--b-table :items="campaigns" :fields="campaignTableFields">
        <template slot="actions" scope="field">
          <img
            v-if="field.item.state === 'completed'"
            src="./../images/radio-icon-completed.svg"
            class="action-img" />
          <img
            v-if="field.item.state === 'running'"
            src="./../images/radio-icon-pause.png"
            class="action-img"
            v-on:click="pauseCampaign(field.item['.key'])" />
          <img
            v-if="field.item.state === 'paused'"
            src="./../images/radio-icon-play.png"
            v-bind:class="{'action-img disabled': hasCampaignRunning, 'action-img': !hasCampaignRunning }"
            v-on:click="startCampaign(field.item['.key'])" />
        </template>
        <template slot="accountName" scope="field">
          {{ field.item.accountName.toUpperCase() }}
        </template>
        <template slot="createdAt" scope="field">
          {{ friendlyDate(field.item.createdAt) }}
        </template>
        <template slot="state" scope="field">
          <span v-bind:class="[field.item.state]"></span>
          <span class="state-text">
            {{ field.item.state.charAt(0).toUpperCase() + field.item.state.slice(1) }}
          </span>
        </template>
      </b-table-->
    </div>
    <div class="logHead">Recent activity:</div>
    <div class="log" id="logDiv"></div>
    <div class="actions">
      <b-button variant="secondary" v-on:click="onNewCampaign(campaigns)">
        {{ $t("dashboard.newCampaignText") }}
      </b-button>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'dash-right-panel',
    computed: mapGetters([
      'campaigns',
      'campaignTableFields',
      'monthNames',
      'hasCampaignRunning',
      'paymentPlan'
    ]),
    methods: {
      ...mapActions([
        'googleSignIn'
      ]),
      onNewCampaign (campaigns) {
        campaigns
          .filter(c => c.state === 'running')
          .forEach(c => this.pauseCampaign(c['.key']))

        // if (this.paymentPlan) {
        this.$router.push({ path: '/', query: { newCampaign: true } }, () => {
          this.$store.dispatch('setStateForNewCampaign')
        })
        // }
      },
      friendlyDate (integer) {
        let date = new Date(integer)
        return `${date.getDate()} ${this.monthNames[date.getMonth()]} ${date.getFullYear()}`
      },
      ...mapActions([
        'startCampaign',
        'pauseCampaign'
      ])
    },
    data () {
      return {
        forced: false
      }
    },
    created: function () {
      // `this` points to the vm instance
      // this.googleSignIn()
    },
    updated () {
      if (this.$store.getters.forcedPausedCampaign && !this.forced) {
        let key = this.$store.getters.forcedPausedCampaign['.key']
        this.$store.dispatch('forceStart', key).then(() => {
          this.$store.dispatch('startCampaign', key).then(() => {})
        })
      }
    },
    watch: {
      hasCampaignRunning: function (value) {
        if (value) {
          window.onbeforeunload = (e) => {
            this.$store.dispatch('forcePauseRunningCampaign').then(() => {
              this.forced = true
            }).catch(() => {
              console.log('error')
              alert("We coudn't stop your running campaign. Please try again.")
              e.returnValue = false
            })
          }
        } else {
          window.onbeforeunload = null
        }
      }
    }
  }
</script>
<style lang="sass">
  .dash-right-panel
    .logHead
      margin-top: 1vh
      margin-bottom: 0.5vh
    .log
      white-space: pre
      height: 12vh
      overflow-y: auto
      overflow-x: hide
      width: 99%
    .campaigns-table
      padding-top: 40px
      height: 50vh
      overflow-y: auto
      overflow-x: hide
      width: 99%
      .action-img
        width: 18px
        height: 18px
        border-radius: 50%
        cursor: pointer
        &.disabled
          pointer-events: none
      span.running, span.paused, span.completed
        width: 7px
        height: 7px
        border-radius: 50%
        display: inline-block
        margin-right: 10px
        padding-bottom: 3px
      span.completed
        background-color: #31cc73
      span.running
        background-color: #4a9fc3
      span.paused
        background-color: #dce356
      table
        table-layout: fixed
        width: 100%
        font-family: "Lato"
        font-weight: normal
        font-style: normal
        font-stretch: normal
        line-height: normal
        letter-spacing: normal
        font-size: 14px
        color: #757575
        thead tr th
          font-size: 12px
          color: #9e9e9e
          font-weight: normal
          border-top: none
          border-bottom: 1px solid #e0e0e0
        tbody tr td
          border: none
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap
          max-width: 200px
          font-size: 14px
          color: #646464
    .actions
      width: 100%
      text-align: center
      .btn small
        letter-spacing: 2px
</style>
