<template>
  <div class="step-wrapper">
    <div class="clearfix">
      <img ref="linkedinView" src="./../images/icons/linkedin-view.svg">
      <div class="text-left">
        <div class="title">{{ $t( welcomeTranslateKey + '.stepOne') }}</div>
        <p>{{ $t( welcomeTranslateKey + '.stepOneDescription') }}</p>
      </div>
    </div>
    <div class="clearfix">
      <img ref="linkedinConnect" src="./../images/icons/linkedin-connect.svg">
      <div class="text-left">
        <div class="title">{{ $t( welcomeTranslateKey + '.stepTwo') }}</div>
        <p>{{ $t( welcomeTranslateKey + '.stepTwoDescription') }}</p>
      </div>
    </div>
    <div class="clearfix">
      <img ref="emailSend" src="./../images/icons/gmail.svg">
      <div class="text-left">
        <div class="title">{{ $t( welcomeTranslateKey + '.stepThree') }}</div>
        <p>{{ $t( welcomeTranslateKey + '.stepThreeDescription') }}</p>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  export default {
    components: {},
    name: 'step-three',
    computed: mapGetters(['welcomeTranslateKey'])
  }
</script>

<style scoped lang="sass">
  img
    float: left
    width: 75px
    margin-right: 40px
    margin-bottom: 80px
    margin-top: -5px

  .title
    font-family: Muli
    font-size: 20px
    font-weight: bold
    letter-spacing: 1.5px
    color: #5f6c72

  p
    font-family: Muli
    font-size: 18px
    font-weight: 300
    letter-spacing: 1.4px
    color: #5f6c72
</style>
