<template>
  <div class="step-wrapper">
    <div class="icons-wrapper">
      <div class="view left">
        <img ref="linkedinView" src="./../images/icons/linkedin-view.svg">
      </div>
      <div class="connect">
        <img ref="linkedinConnect" src="./../images/icons/linkedin-connect.svg">
      </div>
      <div class="email right">
        <img ref="emailSend" src="./../images/icons/gmail.svg">
      </div>
      <div class="dots left">
        <span ref="dot2" class="dot"></span>
        <span ref="dot3" class="dot"></span>
        <span ref="dot4" class="dot"></span>
        <span ref="dot5" class="dot"></span>
      </div>
      <div class="dots right">
        <span ref="dot7" class="dot"></span>
        <span ref="dot8" class="dot"></span>
        <span ref="dot9" class="dot"></span>
        <span ref="dot10" class="dot"></span>
      </div>
    </div>
    <div class="text-wrapper">
      <div class="view left">
        <p v-if="counter >= 1">{{ $t( welcomeTranslateKey + '.viewProfileText') }}</p>
      </div>
      <div class="connect">
        <p v-if="counter >= 6" v-bind:class="{ active: counter < 11 }">{{ $t( welcomeTranslateKey + '.requestToConnectText') }}</p>
      </div>
      <div class="email right">
        <p v-if="counter >= 11">{{ $t( welcomeTranslateKey + '.sendEmailText') }}</p>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  let counterInterval

  export default {
    components: {

    },
    name: 'step-zero',
    computed: mapGetters(['welcomeTranslateKey']),
    methods: mapActions(['fadeInElem', 'fadeOutElems']),
    data () {
      return {
        counter: 0
      }
    },
    created () {
      counterInterval = setInterval(() => {
        if (this.counter === 12) {
          this.counter = 0
        } else {
          this.counter += 1
        }
        if (this.counter === 1) {
          this.fadeInElem({ elem: this.$refs.linkedinView, duration: 1000 })
        } else if (this.counter >= 2 && this.counter <= 5) {
          this.fadeInElem({ elem: this.$refs[`dot${this.counter}`], duration: 500 })
        } else if (this.counter === 6) {
          this.fadeInElem({ elem: this.$refs.linkedinConnect, duration: 1000 })
        } else if (this.counter >= 7 && this.counter <= 10) {
          this.fadeInElem({ elem: this.$refs[`dot${this.counter}`], duration: 500 })
        } else if (this.counter === 11) {
          this.fadeInElem({ elem: this.$refs.emailSend, duration: 1000 })
        } else if (this.counter === 12) {
          this.fadeOutElems()
        }
      }, 1000)
    },
    destroyed () {
      clearInterval(counterInterval)
    }
  }
</script>

<style scoped lang="sass">
  .icons-wrapper, .text-wrapper
    .view, .connect, .email, .dots
      display: inline-block
      img
        opacity: 0.1
      p
        margin: 0
        font-family: "Muli"
        font-size: 20px
        font-weight: 300
        line-height: 1.46
        letter-spacing: 1px
        text-align: center
        color: #4d595f
        &.active
          margin-right: 110px
    .dots
      height: 110px
      width: 200px
      text-align: center
      padding-top: 35px
      .dot
        display: inline-block
        width: 13px
        height: 13px
        border-radius: 50%
        margin: 10px
        background-color: #252525
        opacity: 0.1
  .text-wrapper
    margin-top: 20px
    padding-right: 10px
</style>
