<template>
  <div class="step-wrapper linkedin-campaign-wrapper">
    <div class="linkedin-campaign">
      <div class="input-group email-subject-group">
        <input
        type="text"
        class="email-subject"
        v-model.trim="emailSubject"
        v-on:keyup="onEmailSubjectChange"
        placeholder="Subject line"/>
      </div>
      <div class="input-group email-body-group">
        <b-form-input
          textarea
          class="email-body"
          v-model="emailBody"
          v-on:keyup="onEmailBodyChange"
          placeholder="Body">
        </b-form-input>
      </div>
      <pro-tip></pro-tip>
      <div class="actions">
        <b-button variant="secondary" v-bind:disabled="!emailSubjectValid || !emailBodyValid" v-on:click="redirectAndCreateAndStartCampaign">{{ $t(welcomeTranslateKey + ".buttonText") }}</b-button>
        <div class="skip-start-later"><a href="#" v-on:click="redirectAndCreateCampaign">{{ $t(welcomeTranslateKey + ".skipLinkText") }}</a></div>
        <p class="error" v-if="startError">{{startError}}</p>
      </div>
    </div>
    <label for="checkbox">
      Do not send email:&nbsp;
      <input
        type="checkbox"
        id="checkbox"
        v-model="noEmail"
        v-on:click="onNoEmailChange"
        style="width:20px"
      />
    </label>
     <button v-on:click="goToDashboard" style="
        border: 0;
        background: transparent;
        font-weight: bold;
        position: fixed;
        right: 10px;
        top: 10px;
    ">×</button>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import ProTip from '../shared/ProTip'

  export default {
    name: 'step-six',
    components: {
      ProTip
    },
    computed: mapGetters([
      'welcomeTranslateKey',
      'emailSubject',
      'emailBody',
      'emailSubjectValid',
      'emailBodyValid',
      'startError',
      'noEmail'
    ]),
    methods: mapActions([
      'onEmailSubjectChange',
      'onEmailBodyChange',
      'onNoEmailChange',
      'redirectAndCreateAndStartCampaign',
      'redirectAndCreateCampaign',
      'goToDashboard'
    ])
  }
</script>

<style scoped lang="sass">
  .linkedin-campaign-wrapper
    height: 300px
    margin-top: 50px

    input, textarea
      color: black

    .linkedin-campaign
      height: 100%
      margin: auto

</style>
