<template>
  <center>
    <div style="
    background: #FFF;
    box-shadow: 0 0 5px 0 #D2DEE0;
    height: 90px; text-align: left
    ">
     <img src="./../images/logo.svg" alt="Orca"
      style="height: 26px; width: 65px; margin-top:11px; margin-bottom: 12px; margin-left: 17px; margin-right: 18px"/>
      <div class="last-log2" style="
        text-align: left;
        padding: 10px;
        display: inline-block;
        height: 32px;
        margin-top: 9px;
        width: 290px;
        border-radius: 5px;
        background-color: #F3F6F7;
        color: #2F3A3E;
        font-size: 12px;
        font-weight: 500;
        margin-bottom: -13px;
      ">&nbsp;</div>

       <button style="border:0; padding:8px; margin:0 0 0 4px; background: transparent;" onClick="
        var popup = document.querySelector('.popup')
        if (popup) {
          if (popup.style.display === 'block') {
            popup.style.display = 'none'
          } else {
            popup.style.display = 'block'
          }
        }
        ">
        <img src="./../images/cog.svg" alt="Orca"
          style="
            height: 17px;
            width: 17px;
            margin-top: -4px;
            background-size: contain;
            margin-left: -2px;
          "/>
      </button>

      <div class="popup" style="
        position: fixed;
        display: none;
        right: 5px;
        top: 40px;
        width: 160px;
        padding: 12px 0;
        border: 1px solid rgba(210,222,224,0.5);
        border-radius: 5px;
        background-color: #FFFFFF;
        box-shadow: 0 5px 15px 0 rgba(152,170,173,0.2), 0 1px 1px 0 #D2DEE0;
      ">       
      <button 
      style="
        height: 26px;
        border: 0;
        background: transparent;
        cursor: pointer;
        width: 100%;
        color: #2F3A3E;
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
        padding: 0 0 0 20px;
        "
    @click="open_dashboard"
    >
      Go to dashboard
      </button>
    <hr style="margin: 8px 20px" />
      <button 
      style="
        height: 26px;
        border: 0;
        background: transparent;
        cursor: pointer;
        width: 100%;
        color: #2F3A3E;
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
        padding: 0 0 0 20px;
      "
      onclick="javascript:localStorage.clear();location.reload()">Logout</button>
      <button 
      style="
        height: 26px;
        border: 0;
        background: transparent;
        cursor: pointer;
        width: 100%;
        color: #2F3A3E;
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
        padding: 0 0 0 20px;
      "
       @click="close">
      Close app
      </button>
    <verifying-overlay v-if="linkedInVerifying"></verifying-overlay>
    <connected-checkmark v-if="linkedInCredentialsValid"></connected-checkmark>
  </div>
  <div style="
    height: 25px;
    color: #2F3A3E;
    font-size: 12px;
    font-weight: bold;
    line-height: 35px;
    padding-left: 0;
    text-align: center;
  ">
    LinkedIn module
  </div>

    </div>
    <div style="
  height: 60px;
  width: 60px;
  padding-top: 7px;
  padding-left: 7px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #007BB5;">
     <img src="./../images/linkedin.svg" class="btn-img" />
</div>
     <form 

    v-on:submit.prevent="connectLinkedIn" v-if="!linkedInCredentialsValid">
      <div class="input-group">
        <input 
        style="
          height: 60px;
          width: 320px;
          border: 1px solid rgba(210,222,224,0.5);
          border-radius: 5px;
          background-color: #FFFFFF;
          box-shadow: inset 0 2px 1px 0 rgba(210,222,224,0.5);
          padding-left: 22px;
          color: #98AAAD;
          font-size: 16px;
          font-weight: 500;
          line-height: 60px;
        "
        type="email" v-model="linkedInEmail" name="email" placeholder="Email" required/>
      </div>
      <div class="input-group">
        <input type="password" v-model="linkedInPassword" name="password" placeholder="Password" 
        style="
          height: 60px;
          width: 320px;
          border: 1px solid rgba(210,222,224,0.5);
          border-radius: 5px;
          background-color: #FFFFFF;
          box-shadow: inset 0 2px 1px 0 rgba(210,222,224,0.5);
          padding-left: 22px;
          color: #98AAAD;
          font-size: 16px;
          font-weight: 500;
          line-height: 60px;
        "
        required/>
      </div>
      <button type="submit"
      style="height: 60px;
      border:0;
  width: 320px;
  border-radius: 5px;
  background: radial-gradient(circle, #52D9FF 0%, #00B2E4 100%);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 10px;
    text-align: center;
  "
       >
      Connect with LinkedIn
       
      </button>
      <p v-if="linkedInVerifying" class="verifying">{{ $t(welcomeTranslateKey + ".verifyingText") }}</p>
      <p v-if="linkedInError" class="error">{{ linkedInError }}</p>
    </form>
    <spiner v-if="linkedInVerifying"></spiner>
  </center>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import Spiner from '../shared/Spiner'
  import ConnectedCheckmark from '../shared/ConnectedCheckmark'
  import VerifyingOverlay from '../shared/VerifyingOverlay'
  const remote = require('electron').remote
  const shell = require('electron').shell

  export default {
    components: {
      Spiner,
      ConnectedCheckmark,
      VerifyingOverlay
    },
    name: 'step-one',
    computed: mapGetters([
      'welcomeTranslateKey',
      'linkedInVerifying',
      'linkedInError',
      'linkedInEmail',
      'linkedInPassword',
      'linkedInCredentialsValid'
    ]),
    data () {
      return {
        w: remote.getCurrentWindow()
      }
    },

    methods: {
      ...mapActions(['connectLinkedIn']),
      close () {
        this.w.close()
      },
      open_dashboard () {
        shell.openExternal('https://test-371f7.firebaseapp.com/')
      }
    }
  }
</script>

<style scoped lang="sass">
  input
    &:focus, &:active
      outline: none
  input::-webkit-input-placeholder
    font-family: "Muli"
  input, .btn
    margin: 10px auto
  .btn
    width: 500px
    background-color: #187fb8
    border: solid 1px #187fb8
    font-family: "Varela Round"
    font-size: 24px
    letter-spacing: 5px
    text-align: center
    color: #ffffff
    .btn-img
      height: 35px
      margin-left: 10px
      margin-bottom: 2px
</style>
