<template>
  <div class="step-wrapper linkedin-campaign-wrapper">
    <div class="linkedin-campaign">
      <div class="input-group">
        <b-form-input v-model="linkedInMessage" :state="linkedInMessageValid === null ? '' : linkedInMessageValid ? 'success' : 'warning'" v-on:keyup="onMessageChanged" placeholder="Hey, we have similar connections. Let’s connect. :) Cheers, Dan." textarea > </b-form-input>
        <span class="characters-count">{{ linkedInMessage ? linkedInMessage.trim().length : 0 }} / {{ $t(welcomeTranslateKey + ".maxCharacters") }}</span>
      </div>
      <pro-tip></pro-tip>
      <div class="actions">
        <b-button variant="secondary" v-bind:disabled="!linkedInMessageValid" v-on:click="validateLinkedInMessage">{{ $t(welcomeTranslateKey + ".buttonText") }}</b-button>
        <div class="skip-start-later"><a href="#" v-on:click="skipLinkedInMessage">{{ $t(welcomeTranslateKey + ".skipLinkText") }}</a></div>
      </div>
    </div>
    <button v-on:click="goToDashboard" style="
        border: 0;
        background: transparent;
        font-weight: bold;
        position: fixed;
        right: 10px;
        top: 10px;
    ">×</button>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import ProTip from '../shared/ProTip'

  export default {
    components: {
      ProTip
    },
    name: 'step-five',
    computed: mapGetters([
      'welcomeTranslateKey',
      'linkedInMessage',
      'linkedInMessageValid'
    ]),
    methods: mapActions([
      'incrementStep',
      'onMessageChanged',
      'validateLinkedInMessage',
      'skipLinkedInMessage',
      'goToDashboard'
    ])
  }
</script>

<style scoped lang="sass">
  .linkedin-campaign-wrapper
    height: 378px
    margin-top: 50px

    input, textarea
      color: black

    .linkedin-campaign
      height: 100%
      margin: auto

</style>
