<template>
  <center>
    <img src="./../images/logo.svg" alt="Orca"
      style="height: 36px; width: 90px; margin-top:24px"/>
    <br>
    <button class="btn btn-secondary" 
    style="font-family: 'Varela Round'; position: relative; top: 60px;"
    v-on:click="googleSignIn">
    <img src="./../images/google.svg" alt="Orca"
      style="position: absolute; left: 20px; top: 19px; height: 22px; width: 22px;"/>
      Continue with Google
    </button>
    <verifying-overlay v-if="googleVerifying"></verifying-overlay>
    <connected-checkmark v-if="googleConnected"></connected-checkmark>
      <p v-if="googleVerifying" class="verifying">{{ $t(welcomeTranslateKey + ".verifyingText") }}</p>
      <p v-if="googleError" class="error">{{ googleError }}</p>
    <spiner v-if="googleVerifying"></spiner>
    <br>
    <div style="margin-top: 45px; display: none;">Don't have an account yet?
    <b onClick="window.open('https://accounts.google.com/SignUp?hl=en')"
      style="
      cursor: pointer;
      text-decoration: underline;
      color: #3A4447;
      font-family: 'Varela Round';
      font-size: 14px;
      font-weight: bold;
      line-height: 17px;
    ">Sign up</b>
    </div>
  </center>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import VerifyingOverlay from '../shared/VerifyingOverlay'
  import ConnectedCheckmark from '../shared/ConnectedCheckmark'
  import Spiner from '../shared/Spiner'

  export default {
    components: {
      VerifyingOverlay,
      ConnectedCheckmark,
      Spiner
    },
    name: 'step-two',
    computed: mapGetters([
      'welcomeTranslateKey',
      'googleVerifying',
      'googleConnected',
      'googleError'
    ]),
    methods: mapActions(['googleSignIn'])
  }
</script>

<style scoped lang="sass">
  .btn
    color: #2F3A3E
    font-family: "Varela Round"
    font-size: 16px
    font-weight: bold
    line-height: 20px
    text-align: center
    height: 60px
    width: 320px
    border-radius: 5px
    background-color: #FFFFFF
    box-shadow: 0 1px 1px 0 #D2DEE0
    margin-bottom: 10px
    margin-top: 31px
    border: 0
    text-align: center
    .btn-img
      height: 40px
      margin-left: 10px
</style>
