<template>
  <div class="step-wrapper linkedin-campaign-wrapper">
    <verifying-overlay v-if="linkedInVerifying"></verifying-overlay>
    <div class="linkedin-campaign">
      <div class="input-group">
        <span v-on:click="openLinkedIn" class="open-linkedin" target="_blank">Open Linkedin search page</span><br>
        <input type="text" v-model.trim="linkedInUrl" v-on:keyup="onUrlChanged" />
        <img v-if="!linkedInUrlValid" class="checkmark" src="./../images/checkmark-grey.jpg" alt="Invalid Url" />
        <img v-if="linkedInUrlValid" class="checkmark" src="./../images/checkmark-success.jpg" alt="Valid Url" />
      </div>
      <div class="box">
        <img src="./../images/linked-search-url.png" />
      </div>
      <b-button variant="secondary" v-bind:disabled="!linkedInUrlValid" v-on:click="checkSearchUrl">{{ $t(welcomeTranslateKey + ".buttonText") }}</b-button>
      <p v-if="linkedInVerifying" class="verifying">{{ $t(welcomeTranslateKey + ".verifyingText") }}</p>
      <p v-if="linkedInUrlError" class="error">{{ linkedInUrlError }}</p>
    </div>
    <spiner v-if="linkedInVerifying"></spiner>
    <button v-on:click="goToDashboard" style="
        border: 0;
        background: transparent;
        font-weight: bold;
        position: fixed;
        right: 10px;
        top: 10px;
    ">×</button>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import Spiner from '../shared/Spiner'
  import VerifyingOverlay from '../shared/VerifyingOverlay'

  export default {
    components: {
      Spiner,
      VerifyingOverlay
    },
    name: 'step-four',
    computed: mapGetters([
      'welcomeTranslateKey',
      'linkedInUrl',
      'linkedInUrlValid',
      'linkedInVerifying',
      'linkedInUrlError'
    ]),
    methods: mapActions([
      'onUrlChanged',
      'checkSearchUrl',
      'openLinkedIn',
      'goToDashboard'
    ])
  }
</script>

<style scoped lang="sass">

  .linkedin-campaign-wrapper
    height: 560px
    margin-top: 50px

    .linkedin-campaign
      height: 100%
      margin: auto

    img
      width: 55px
      height: 55px
      position: absolute
      right: 10px
      top: 10px
      border-radius: 50%

    .box
      width: 100%
      margin-top: 45px
      border-radius: 5px
      background-color: #f2f2f2
      border: solid 1px #b6b6b6
      overflow: hidden
      height: 286px

    .box img
      position: static
      width: 100%
      height: auto
      border-radius: 5px

    .btn
      margin-top: 50px
      margin-bottom: 10px
      width: 450px
      border-radius: 100px
      background-color: #252525
      box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5)
      border: solid 1px #202020
      text-transform: uppercase
      font-size: 24px
      letter-spacing: 5px
    input
      padding-right: 70px

    .open-linkedin
      cursor: pointer
      display: inline-block
      clear: both
      padding-top: 0.9em
      color: #4bc6fe
      text-decoration: none
      &:hover, &:active, &:focus, &:visited
        color: #4bc6fe
        text-decoration: none
</style>
